<section class="content-header">
  <h1>
    Sale Return
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to raw('<i class="fa fa-dashboard"></i> Home'), root_path %>
    </li>
    <li>
      <%= link_to 'salesReturn' %>
    </li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="col-md-6">
            <div class="form-group">
              <label class='control-label'>Sale ID:</label>
              <%= @salesReturn.sale_id %>
            </div>
            <div class="form-group ">
              <label class='control-label'>Customer Name:</label>
              <%= @salesReturn.customer.customer_name.titleize %>
            </div>
            <div class="form-group ">
              <label class='control-label'>Product Name:</label>
              <%= @salesReturn.product.product_name.titleize %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label class='control-label'>Sale Return Date:</label>
              <%= @salesReturn.salesreturn_date %>
            </div>
            <div class="form-group ">
              <label class='control-label'>Unit:</label>
              <%= @salesReturn.unit %>
            </div>
            <div class="form-group">
              <label class='control-label'>Price:</label>
              <%= @salesReturn.price %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to 'Edit', edit_sales_return_path(@salesReturn),class:'btn btn-primary'%>
    </div>
  </section>
