<section class="content-header">
  <h1>
    Stocks
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to raw('<i class="fa fa-dashboard"></i> Home'), root_path %>
    <li >
      <%= link_to 'stock' %>
    </li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <table class="table table-bordered table-hover">
            <h1 align="center"></h1>
            <thead>
              <tr>
                <th>Supplier Id</th>
                <th>Product Id</th>
                <th>Unit</th>
                <th>Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Note</th>
                <th colspan="4">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @stocks.each do |stock| %>
                <tr id=<%= "tr_#{stock.id}" %>>
                  <td><%= stock.supplier.supplier_name %></td>
                  <td><%= stock.product.product_name %></td>
                  <td><%= stock.unit %></td>
                  <td><%= stock.date %></td>
                  <td><%= stock.status %></td>
                  <td><%= stock.total%></td>
                  <td><%= stock.note %></td>
                  <td><%= link_to stock do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                </td>
                <td><%= link_to edit_stock_path(stock) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
              </td>
              <td><%= link_to (stock), method: :delete,remote: true, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<div class='col-md-12'>
<%= link_to 'New Stock', new_stock_path, class: 'btn btn-primary' %>
</div>
</div>
</section>
<br>
