<section class="content-header">
  <h1>
    Show Stock
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to raw('<i class="fa fa-dashboard"></i> Home'), root_path %>
    </li>
    <li>
      <%= link_to 'stock' %>
    </li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="col-md-6">
            <div class="form-group">
              <label class='control-label'>Supplier Name:</label>
              <%= @stock.supplier.supplier_name %>
            </div>
            <div class="form-group">
              <label class='control-label'>Product Name:</label>
              <%= @stock.product.product_name %>
            </div>
            <div class="form-group">
              <label class='control-label'>Unit:</label>
              <%= @stock.unit %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class='control-label'>Date:</label>
              <%= @stock.date %>
            </div>
            <div class="form-group">
              <label class='control-label'>Status:</label>
              <%= @stock.status %>
            </div>
            <div class="form-group">
              <label class='control-label'>Total:</label>
              <%= @stock.total %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class='control-label'>Note:</label>
              <%= @stock.note %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-primary'%>
    </div>
  </div>
</section>
