<%= form_with(model: product,local:true) do |form| %>
<% if product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %>
      prohibited this user from being saved:</h2>
    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<table class="table table stried" border="2" align="center" cellspacing="4" cellpadding="4">
  <tr>
    <div class="field">
      <td><%= form.label :product_name %></td>
      <td>
        <%= form.text_field :product_name %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td><%= form.label :product_code %></td>
      <td>
        <%= form.text_field :product_code %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td><%= form.label :image %></td>
      <td>
        <%= image_tag product.image %>
        <%= form.file_field :image %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td>
        <%= form.label :brand %></td>
      <td><%= form.text_field :brand %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td>
        <%= form.label :product_category %></td>
      <td><%= form.text_field :product_category %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td>
        <%= form.label :unit %></td>
      <td><%= form.text_field :unit %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td>
        <%= form.label :cgst %></td>
      <td><%= form.number_field :cgst %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td>
        <%= form.label :sgst %></td>
      <td><%= form.number_field :sgst %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td>
        <%= form.label :product_cost %></td>
      <td><%= form.number_field :product_cost %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td>
        <%= form.label :product_price %></td>
      <td><%= form.number_field :product_price %></td>
    </div>
  </tr>
  <tr>
    <div class="actions">
      <td colspan="2" align="center">
        <%= form.submit %></td>
    </div>
  </tr>
</table>

<% end %>
