<section class="content-header">
  <h1>
    Suppliers
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to raw('<i class="fa fa-dashboard"></i> Home'), root_path %>
    <li >
      <%= link_to 'supplier' %>
    </li>
  </ol>
</section>

<section class="content">
  <div class="row">

    <div class="col-md-12">
      <div class="box">

        <div class="box-body">
          <table class="table table-bordered table-hover">
            <h1 align="center"></h1>
            <thead>
              <tr>
                <th>Supplier Name</th>
                <th>Product Name</th>
                <th>Company Name</th>
                <th>Address</th>
                <th>City Name</th>
                <th>Contact No</th>
                <th>GST NO</th>
                <th colspan="4">Action</th>
              </tr>
            </thead>

            <tbody>
              <% @suppliers.each do |supplier| %>
               <tr id=<%= "tr_#{supplier.id}" %>>
                  <td><%= supplier.supplier_name %></td>
                  <td><%= supplier.product_name %></td>
                  <td><%= supplier.company_name %></td>
                  <td><%= supplier.address %></td>
                  <td><%= supplier.city_name %></td>
                  <td><%= supplier.contact_no %></td>
                  <td><%= supplier.gst_no %></td>
                  <td><%= link_to supplier do %>
                    <i class="fa fa-eye"></i>
                  <% end %>
                </td>
                <td><%= link_to edit_supplier_path(supplier) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
              </td>
              <td><%= link_to (supplier), method: :delete,remote: true, data: { confirm: 'Are you sure?' } do%>
                <i class="fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

  </div>
</div>
</div>
<div class='col-md-12'>
<%= link_to 'New Supplier', new_supplier_path, class: 'btn btn-primary' %>
</div>

</div>
</section>
<br>
