 <section class="content-header">
      <h1>
        Supplier Form Elements
        <small>Preview</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Supplier Elements</li>
      </ol>
    </section>

     <section class="content">
      <div class="row">


<p id="notice"><%= notice %></p>

<h1 align="center">Supplier</h1>

<table border="1" align="center" cellspasing="5" cellpadding="5">
  <thead>
    <tr>
      <th>supplier name</th>
      <th>product name</th>
      <th>company name</th>
      <th>address</th>
      <th>city name</th>
      <th>contact no</th>
      <th>gst no</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier_name %></td>
        <td><%= supplier.product_name %></td>
        <td><%= supplier.company_name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.city_name %></td>
        <td><%= supplier.contact_no %></td>
        <td><%= supplier.gst_no %></td>
        <td><%= link_to supplier do %>
        <i class="fa fa-eye"></i>
          <% end %></td>
        <td><%= link_to edit_supplier_path(supplier) do %>
              <i class="fa fa-pencil"></i>
            <% end %></td>
            <td><%= link_to  (supplier), method: :delete, data: { confirm: 'Are you sure?' } do%>
              <i class="fa fa-trash"></i>
              <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
</div>
</section>
