<section class="content">
  <div class="row">

    <div class="col-md-12">

      <div class="box box-primary">

        <form role="form">
          <div class="box-body">

            <div class="col-md-6">
              <div class="form-group">
                <strong>Supplier Name :</strong>
                <%= @supplier.supplier_name %>
              </div>

              <div class="form-group ">
                <strong>Product Name:</strong>
                <%= @supplier.product_name %>
              </div>

              <div class="form-group ">
                <strong>Company Name:</strong>
                <%= @supplier.company_name %>
              </div>

              <div class="form-group ">
                <strong>Address:</strong>
                <%= @supplier.address %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <strong>City Name:</strong>
                <%= @supplier.city_name %>
              </div>

              <div class="form-group">
                <strong>Contact No:</strong>
                <%= @supplier.contact_no %>
              </div>

              <div class="form-group">
                <strong>GST No:</strong>
                <%= @supplier.gst_no %>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class='col-md-6'>
              <%= link_to 'Edit', edit_supplier_path(@supplier),class:'btn btn-primary'%></div>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
