<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Product Report: <%= @product.product_name.capitalize %></h4>
      </div>
      <div class="modal-body">
        <div class='row'>
          <div class='col-md-6'> 
            <div class='form-group'>
              <%= image_tag @product.image , height: 250, width: 250 %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <strong>Brand:</strong>
              <%= @product.brand%>
            </div>

            <div class="form-group">
              <strong>Product Category:</strong>
              <%= @product.product_category%>
            </div>

            <div class="form-group">
             <strong>Unit:</strong>
             <%= @product.unit%>
           </div>

           <div class="form-group">
            <strong>CGST:</strong>
            <%= @product.cgst %>%
          </div>
          <div class="form-group">
            <strong>SGST:</strong>
            <%= @product.sgst%>%
          </div>

          <div class="form-group">
           <strong>Product Cost:</strong>
           <%= number_to_rupees(@product.product_cost) %>
         </div>

         <div class="form-group">
          <strong>Product Price:</strong>
          <%= number_to_rupees(@product.product_price) %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row no-print">
      <div class="col-xs-12">
        <a class="btn btn-default" onclick="js:window.print()"><i class="fa fa-print"></i> Print</a>
      </div>
    </div>
  </div>
</div>
</div>