<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Product Report: <%= @product.product_name.capitalize %></h4>
      </div>
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
             <div class="box header with -border">
              <div class="box-body">
               <div  class='col-md-6'> 
                <div class="modal-body">

                 <div class="form-group">
                  <strong> Name:</strong>
                  <%= @product.product_name %>
                </div>

                <div class="form-group">
                  <strong> Code:</strong>
                  <%= @product.product_code %>
                </div>

                <div>
                  <strong>Image:</strong>
                  <%= image_tag @product.image ,width: 100, hight: 100 %>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <strong>Brand:</strong>
                  <%= @product.brand%>
                </div>

                <div class="form-group">
                  <strong> Category:</strong>
                  <%= @product.product_category%>
                </div>

                <div class="form-group">
                 <strong>Unit:</strong>
                 <%= @product.unit%>
               </div>

               <div class="form-group">
                <strong>CGST:</strong>
                <%= @product.cgst%>

                <div class="form-group">
                  <strong>SGST:</strong>
                  <%= @product.sgst%>
                </div>

                <div class="form-group">
                 <strong> Cost:</strong>
                 <%= @product.product_cost%>
               </div>

               <div class="form-group">
                <strong> Price:</strong>
                <%= @product.product_price%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</section>
